---
layout: default
title: About
---

<article>
	<h1 class="title">{{ page.title }}</h1>
    <a href="mailto:be.data.analyst.11@gmail.com" target="_blank" class="image">
    	<img src="../assets/email.png" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
    </a>
    <a href="https://github.com/{{ site.github_username }}" target="_blank" class="image">
        <img src="../assets/github.png" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
    </a>
	<div class="divider"></div>

Hello.

I'm Choi Won-il living in Sounth Korea.
I graduated from Sungkyunkwan University with a bachelor's degree in statistics and currently works for GSSHOP AI Center.
I have had experience with predictive modeling and scheduling optimization projects, and recently I am interested in home training and I want to be a data generalist and a singer-songwriter.


</article>

<div class="page-navigation">
	<a class="home" href="{{ site.baseurl | prepend: site.url }}" title="Back to Homepage">Home</a>
</div>
