---
layout: default
---

<div class="well">

  <h1>Posts</h1>

  <div id="search-searchbar"></div>

  <div id="search-hits">
    {% for post in site.posts %}
      <div>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span>{{ post.date | date: date_format }}</span>

        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div>{{ post.excerpt }}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% include algolia.html %}