---
layout: default
---

<article>
	<h1 class="title">{{ page.title }}</h1>
    <div class="center">
        <h1>
        <a href="mailto:be.data.analyst.11@gmail.com" target="_blank" class="icon">
        	<img src="../assets/email.png" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
        </a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank" class="icon">
            <img src="../assets/github.png" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
        </a>
    </h1>
    </div>


	<div class="divider"></div>


{{ content }}


</article>

<div class="page-navigation">
	<a class="home" href="{{ site.baseurl | prepend: site.url }}" title="Back to Homepage">Home</a>
</div>
